* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Montserrat', sans-serif;
  
}

/* ----------- header ----------  */

/* For mobile header  */

@media (max-width: 490px) {
    header {
        background-image: url(../image/hp1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        

        position: relative;
        padding-bottom: 60px;
    }

    .overlay-header {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.616);
    }

    
    nav {
    
    }

    .navbar-brand {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold !important;
        /* text-transform: uppercase; */
        font-size: 1.3rem;

        color: #A1C9F1 !important;
    }

    .navbar-brand i {
        padding-right: 5px;
        font-size: 1.5rem;
    }

    .navbar-toggler {
        border-color: #fff !important;
    }

    .navbar-toggler:hover {
        border-color: #fff !important;
    }

    .navbar-icon i {
        color: #fff;
        font-size: 1.2rem;
    }

    .navbar-collapse.show {
        background-color: rgba(0, 0, 0, 0.212);
        width: 100% !important;

        margin-top: 10px;
        border-radius: 20px;
        padding: 10px;
    }
    
    .navbar-nav {

    }

    .navbar-nav .nav-link {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        padding-left: 10px;

        
        transition: all linear 0.2s;
        color: #fff !important;
    }


    .nav-item.active .nav-link {
        font-size: 1rem!important;
    }
   

    .navbar-nav .nav-link:hover {
        color: #A1C9F1 !important;
      

    }


    .block-socical {
        width: 40%;
        padding-left: 10px;


        display: flex;
        justify-content: space-between;

            
    }

    .block-socical .facebook {
        background-color: #fff;
        padding: 5px 13px;
        border-radius: 10px;
        color: black;
    }

    .block-socical .facebook:hover {
        color: #fff;
        background-color: #A1C9F1;

    }

    .block-socical .instagram {
        background-color: #fff;
        padding: 5px 11px;
        border-radius: 10px;
        color: black;
    }

    .block-socical .instagram:hover {
        color: #fff;
        background-color: #A1C9F1;

    }

    .block-socical .tripper {
        background-color: #fff;
        padding: 5px 13px;
        border-radius: 10px;
        color: black;
    }

    .block-socical .tripper:hover {
        color: #fff;
        background-color: #A1C9F1;

    }

    /* ---- carousel ----  */
    .carousel {
        margin-top: 40px;
    }

    .carousel-title {
        line-height: 2;

        text-align: center;
    }

    .carousel-title h3 {
        font-size: 1rem;
        text-transform: uppercase;
        color: rgb(255 255 255 / 65%);

        margin-bottom: 30px;
    }

    .carousel-title h6 {
        color: rgba(255, 255, 255, 0.932);
        font-size: 1.5rem;
        line-height: 1.5;

        padding: 0 20px;
    }

    .carousel-content {
        height: 200px;
        

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    .button-carousel  {
        color: #fff;
        border-color: #A1C9F1 !important;
        border-radius: 0;
        border: 2px solid;
        background: transparent;
        
        width: 300px;
        height: 45px;

        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 400;

       
    }

    .button-carousel:hover {
        background-color: #fff;
        color: #A1C9F1;
        border-color: #fff !important;
    }


    .scroll-down-header {
        position: absolute;
        bottom: 5%;
        right: 23%;


    }

    .scroll-down-header a i {
        color: #A1C9F1;
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .scroll-down-header a span{
        color: #fff;
        text-transform: uppercase;
        font-size: 0.7rem;

        position: relative;
    }

    .scroll-down-header a span::after {
        position: absolute;
        top: 5px;
        right: -20px;
        
        content: "";
        width: 2px;
        height: 85px;
        background-color: #fff;
    }

   



}

/* For mobile section  */

@media (max-width: 490px) {
    section {
        
    }

    .about {
        padding-top: 90px;
        background-color: #A1C9F1;

        padding-bottom: 30px;
    }

    .about-title {
        text-align: center;
        
        padding-bottom: 20px;

        position: relative;
       
    }

    .about-title::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        width: 50%;
        height: 1px;
        background-color: rgb(255 255 255 / 49%);
    }

    .about-title h6 {
        font-size: 1rem;
        text-transform: uppercase;

    }

    .about-title h2 {
        color: rgba(255, 255, 255, 0.932);
        font-size: 2.2rem;
    }

    .about-content {
        padding: 0 60px;
        margin-top: 20px;
        text-align: center;
    }

    .about-content p {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;

        line-height: 28px;
    }


    .block-socical-about {
        width: 100%;
        padding: 40px 80px 20px;



        display: flex;
        justify-content: space-around;

        
        position: relative;
    }

    .block-socical-about::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 50%;
        
        transform: translateX(-50%);

        width: 50%;
        height: 1px;
        background-color: rgb(255 255 255 / 49%);
    }

    .block-socical-about a {
        text-decoration: none;
        color: black!important;

    }

    .block-socical-about .facebook {
        background-color: #fff;
        padding: 5px 13px;
        border-radius: 50%;
      
    }

    .block-socical-about .instagram {
        background-color: #fff;

        padding: 5px 11px;
        border-radius: 50%;


    }

    .block-socical-about .tripper {
        background-color: #fff;

        padding: 5px 13px;
        border-radius: 50%;
        

    }


}

